/*-----------------------------------------*/
/*-the general style ideas for remembering-*/
/*-----------------------------------------*/



/*////////////////////////////////////////
/////////////////general//////////////////
////////////////////////////////////////*/

/*everything with a is a link*/
a{
	text-decoration: none;
	color:#000000;
	list-style: none;
}
/*id wrapper for section and  footer*/
#wrapper{
	max-width: 940px;
	margin: 0 auto;
	padding: 0 5%;
}
/*images*/
img{
	max-width: 100%;
}
/*heading 3*/
h3{
	margin: 0 0 1em 0;
}

/*////////////////////////////////////////
////////////////body area/////////////////
////////////////////////////////////////*/

/*this seems to show that the order in the index is more important than the order in the style.css. 'order in html goes section, ul id='gallery', li, (a, img, p), and since p was given id of 'first item' and it was the last part of the cascade, the text stayed grey. irregardless f whether first item is before or after p and body, the color remains grey.
#first-item{
	color: black;
}*/

/*all paragraphs are black*/
p{
	color: green;
}
/*site body*/
body{
	background-color: #fff;
	color: pink;
	font-family: 'Open Sans', sans-serif;
	/*text-align: center;*/
}

/*////////////////////////////////////////
///////////////header area////////////////
////////////////////////////////////////*/

/*logo being name and title*/
#logo {
	text-align: center;
	margin: 0;
}
/*green background*/
header{
	float: left;
	margin: 0 0 30px 0;
	padding: 5px 0 0 0;
	background: #7a9a2a;
	border-color: #599a68;
	width: 100%;
}
/*head and subhead*/
h1, h2{
	color: #fff;
	font-family: 'Lobster', cursive;
	font-weight: normal; 
	margin: 15px 0;
	font-size: 3em;
	line-height:0.8em;
}
h2{
	font-size: 1.9em;
	margin: -5px 0 0;
}

/*////////////////////////////////////////
/////////////navigating area//////////////
////////////////////////////////////////*/

/*portfolio, about and contact*/
nav{
	text-align: center;
	padding: 10px 0;
	margin: 20px 0 0 0;
	background: #7a9a88;
}
nav ul{
	list-style: none;
	margin: 0 10px;
	padding: 0;
}
nav li{
	display: inline-block;
	padding: 0 15px 0 15px;
}
/*putting the padding on the link rather than list item makes the clicking area larger as well*/
nav a{
	font-weight: 800;
	padding: 15px 10px;
}
/**/
nav a, nav a:visited{
	color: #fff;
}
nav a.selected, nav a:hover{
	color: #32673f;
}

/*////////////////////////////////////////
///////////////footer area////////////////
////////////////////////////////////////*/

/*copyright text and links to tweeter*/
footer{
	font-size: .75em;
	text-align: center;
	clear: both;
	padding-top: 50px;
	color: grey;
	font-family: 'Open Sans', sans-serif;
}
.social-icon{
	width:20px;
	height: 20px;
	margin: 0 5px;
}

/*////////////////////////////////////////
//////////////page: portfolio/////////////
////////////////////////////////////////*/

#gallery{
	margin: 0;
	padding: 0;
	list-style: none;
}
#gallery li{
	float: left;
	width: 45%;
	margin: 2.5%;
	background-color: #f5f5f5;
	color: #bdc3c7;
}
#gallery li a p{
	margin: 0;
	padding: 5%;
	font-size: .75em;
	color:#bdc3c7;
}
/*////////////////////////////////////////
//////////////page: about/////////////////
////////////////////////////////////////*/
.profile-photo{
	display: block;
	max-width: 150px;
	margin: 0 auto 30px;
	border-radius: 100%;
}
/*////////////////////////////////////////
//////////////page: contact///////////////
////////////////////////////////////////*/
.contact-info{
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 0.9em;
}
/*adding a spacce to li.phone, making it (li. phone) will make the css think the li has an element under phone*/
.contact-info a{
	display: block;
	min-height: 20px;
	background-repeat: no-repeat;
	background-size: 20px 20px;
	padding: 0 0 0 30px;
	margin: 0 0 10px;
}
.contact-info li.phone a{
	background-image: url('../img/phone.png');

}
.contact-info li.mail a{
	background-image: url('../img/mail.png');

}
.contact-info li.twitter a{
	background-image: url('../img/twitter.png');

}